.search-movie {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 10%;
}

@media (max-width: 500px) {
  .search-movie {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.search-movie .input-search {
  width: 25em;
  height: 2.5em;
  margin-right: 2%;
  border-radius: 1em;
  border: none;
  padding: 1em;
}

.search-movie .btn-search {
  width: 5em;
  padding-top: 0.7em;
  padding-bottom: 3.7em;
  border-radius: 1em;
  height: 4em;
}
