.search-movie {
  display: block;
  margin: auto;
  margin-left: 35%;
  margin-top: 5%;
}

.search-movie .input-search {
  width: 25em;
  height: 2.5em;
  margin-right: 2%;
  border-radius: 1em;
  border: none;
  padding: 1em;
}

.search-movie .btn-search {
  width: 7em;
  border-radius: 1em;
  margin: 0.5em;
  height: 4em;
}
