.info-movie {
  width: 80%;
  margin-top: 1em;
  text-align: center;
  margin: auto;
}

.info-movie .general-data-movie {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5em;
}

.info-movie .title-movie {
  text-align: center;
  font-size: 5em;
  padding-bottom: 1em;
  transition: all;
  transition-duration: 1s;
}

.title-movie:hover {
  margin-top: 1em;
  margin-bottom: 1em;
}

.image-movie {
  width: 20%;
  height: auto;
  margin: 1em;
  margin-left: 2em;
  margin-top: -3em;
  transition: all;
  transition-duration: 0.9s;
}

.image-movie:hover {
  width: 22%;
  height: auto;
  opacity: 0.8;
  margin-top: -5em;
  margin-bottom: 2em;
  margin-left: 3em;
}

.general-data-movie .review-movie {
  width: 40%;
  padding: 1em;
  text-align: center;
  margin: 1em;
  line-height: 2em;
  font-size: 1.5em;border: white;
  border-radius: 12em;
}

.data-movie {
  width: 30%;
  margin-left: 0.9em;
  padding-top: 4em;
  background-color: rgb(234, 248, 247);
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  font-size: 1.5em;
  transition: all;
  transition-duration: 1s;
  color: #000;
}

.data-movie:hover {
  width: 40%;
}
